html,
body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
}
p,
ul > li {
  font-size: 20px;
  color: #666;
  font-weight: 100;
}
h1 {
  font-size: 16px;
  color: #808080;
  margin-top: 0;
}
h2 {
  color: #e33527;
  font-size: 30px;
  font-weight: 700;
}
video {
  width: 100%;
  height: auto;
}
.navbar {
  height: 80px;
  background-color: transparent;
  border: 0;
}
.navbar .navbar-brand img {
  max-width: 180px;
}
.navbar .navbar-header {
  width: 100%;
}
.navbar .navbar-header .navbar-toggle {
  border-radius: 0;
  margin-top: 30px;
  border: 0;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  width: 38px;
  height: 3px;
}
.navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
.navbar ul.nav {
  margin-top: 45px;
}
.navbar ul.nav li a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  padding: 0 20px;
  border-right: 1px solid #777;
}
.navbar ul.nav li:last-child a {
  border-right: 0;
}
.navbar ul.nav li.active a {
  color: #e33527;
  background-color: transparent;
}
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:active {
  background-color: transparent;
}
.jumbotron {
  position: relative;
  min-height: 500px;
  background: #424242 url("../img/pond5.jpg");
  background-size: cover;
  border-radius: 0 !important;
  background-blend-mode: overlay;
}
.jumbotron p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.devices {
  max-width: 500px;
  margin: 20px;
}
.easy img {
  max-height: 60px;
  margin: 10px auto;
}
#bs-example-navbar-collapse-1 {
  display: none;
}
.chat-container {
  height: 420px;
  overflow: auto;
  padding: 15px;
  border: 1px solid #ccc;
}
.chat-container .chat .post {
  padding-right: 30px;
  padding-left: 0;
  margin-bottom: 15px;
}
.chat-container .chat .post p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.chat-container .chat .post.my-post {
  padding-right: 0;
  padding-left: 30px;
}
.chat-container .chat .post.my-post p {
  color: #00ACC9;
  text-align: right;
}
#chat-submit-btn {
  text-transform: uppercase;
}
.video-container .mic-rec {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px 0;
  transition: 400ms;
  width: 62px;
  height: 62px;
}
.video-container .mic-rec.rec {
  background-image: url("../img/rec-off.png");
}
.video-container .mic-rec.rec:active {
  background-image: url("../img/rec.png");
}
.video-container .mic-rec.mic {
  background-image: url("../img/mic.png");
}
.video-container .mic-rec.mic:active {
  background-image: url("../img/mic-off.png");
}
.video-container hr {
  border-width: 2px;
  border-color: #b3b3b3;
}
#q-tabs li a,
#q-tabs li.active a {
  border: 0;
  border-right: 1px solid #999;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  color: #999;
}
#q-tabs li:last-child a,
#q-tabs li.active:last-child a {
  border: 0;
}
#q-tabs li.active a {
  font-weight: 700;
  color: #00ACC9;
}
#q-panels .panel {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  position: relative;
}
#q-panels .panel .panel-heading {
  border-radius: 0;
  background-color: #e6e6e6;
  font-size: 16px;
  padding: 6px 11px;
  border-bottom: 0;
  cursor: pointer;
}
#q-panels .panel .panel-heading .side-heading {
  color: #00ACC9;
  margin-top: 8px;
  position: absolute;
  left: -50px;
  top: 0;
  width: 50px;
  text-align: center;
}
#q-panels .panel .panel-heading .side-heading span {
  transition: 400ms;
  color: #B3B3B3;
}
#q-panels .panel .panel-body {
  display: none;
  padding: 0;
}
#q-panels .panel .panel-body textarea {
  border-radius: 0;
  border: 0;
}
#q-panels .panel.open .panel-heading .side-heading span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#q-panels .add-question {
  font-weight: 400;
  text-transform: uppercase;
  color: #00ACC9;
  cursor: pointer;
}
#q-panels .checkbox {
  margin-top: 0;
}
#q-panels .checkbox label {
  padding: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/empty-square.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-right: 5px;
}
#q-panels .checkbox input {
  display: none;
}
#q-panels .checkbox input:checked ~ label {
  background-image: url("../img/square.png");
}
#q-panels #panel2 > .row {
  margin-bottom: 10px;
}
#q-panels #panel2 img.responsive {
  margin-bottom: 10px;
  cursor: pointer;
}
#q-panels #panel2 .checkbox a {
  margin-bottom: 3px;
}
#q-panels #panel2 .download-clips {
  color: #00ACC9;
  font-weight: 400;
  font-size: 16px;
}
#q-panels #panel2 .download-clips img {
  margin-right: 5px;
  height: 15px;
  margin-bottom: 4px;
  cursor: pointer;
}
#q-panels #panel2 .download-clips a {
  color: #00ACC9;
  font-weight: 400;
  font-size: 16px;
}
#q-panels #panel2 .panel .panel-body {
  padding: 10px 10px 0 10px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: inline-block;
  }
}
